[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
line-bot-sdk = "*"
flask = "*"
requests = "*"
bs4 = "*"
lxml = "*"
selenium = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
